.stage {
    width: 100%;
    border-radius: 10px;
}

.statistic-form-margin {
    margin: 0;
    padding-right: 30px;
}

.statistic-submit-button {
    margin-left: 0;
    padding-left: 0;
}

.img-padding-margin {
    margin: 0 !important;
    padding: 10px !important;
}

.statistic-negative-margin {
    padding-right: 25px;
}